.navbar {
    background-image: url(../../assets/new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.icon {
    color: rgb(73, 180, 230);;
   margin-left: 200px;
    font-size: 4rem;
}
.bar h1 {
    font-size: 5rem;
}

.bar h2 {
    font-size: 2rem;
    margin-left: 80px;
}
h1, h2, h3 {
    color: white;
}
.page h1{
    margin-left: 300px;
    font-size: 6rem;
}
.page h3{
    margin-top: 300px;
    margin-left: 600px;
    font-size: 2rem;
}
.page h5{
    margin-left: 500px;
    font-style: italic;
    font-size: 2rem;
    color: rgb(73, 180, 230);
}
.bar h4 {
    font-style: italic;
    margin-left: 100px;
    font-size: 2rem;
    color: rgb(73, 180, 230);
}
.bar ul {
text-align: right;
font-size: 2rem;
}
.bar ul li {
list-style-type: none;
display: inline-block;
padding: 10px 25px;
}

.bar ul li a {
color: white;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
}

.bar ul li a:hover {
color: rgb(73, 180, 230);
transition: .4s;
}

.page p{
    margin-top: 200px;
    color: rgb(73, 180, 230);
    font-size: 2.3rem;

}


/* For Desktop View */
@media screen and (min-width: 1024px) {
    .navbar{
      background-color: #63c971;
      color: #fff;
    }
  }

  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .navbar {
      width: 400px;
      height: 400px;
      background-color: orange;
      color: black;
    }
  }

  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    .navbar {
      width: 200px;
      height: 200px;
      background-color: red;
      color: #fff;
    }
  }

  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    .navbar {
      width: 400px;
      height: 200px;
      background-color: cyan;
      color: black;
    }
  }

  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
    .navbar {
      width: 400px;
      height: 200px;
      background-color: chartreuse;
      color: black;
    }
  }

  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
      width: 400px;
      height: 400px;
      background-color: brown;
      color: black;
    }
  }

  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
      width: 400px;
      height: 400px;
      background-color: cornflowerblue;
      color: black;
    }
  }

  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .navbar {
      width: 400px;
      height: 400px;
      background-color: darkgoldenrod;
      color: black;
    }
  }
